<?xml version="1.0" encoding="UTF-8"?>
<server xmlns="urn:jboss:domain:20.0">
    <extensions>
        <extension module="org.jboss.as.clustering.infinispan"/>
        <extension module="org.jboss.as.connector"/>
        <extension module="org.jboss.as.deployment-scanner"/>
        <extension module="org.jboss.as.ee"/>
        <extension module="org.jboss.as.ejb3"/>
        <extension module="org.jboss.as.jaxrs"/>
        <extension module="org.jboss.as.jmx"/>
        <extension module="org.jboss.as.logging"/>
        <extension module="org.jboss.as.mail"/>
        <extension module="org.jboss.as.naming"/>
        <extension module="org.jboss.as.remoting"/>
        <extension module="org.jboss.as.security"/>
        <extension module="org.jboss.as.transactions"/>
        <extension module="org.jboss.as.undertow"/>
        <extension module="org.jboss.as.weld"/>
        <extension module="org.wildfly.extension.elytron"/>
        <extension module="org.wildfly.extension.io"/>
        <extension module="org.wildfly.extension.microprofile.config-smallrye"/>
    </extensions>

    <interfaces>
        <interface name="management">
            <inet-address value="{{ jboss_management_bind_address }}"/>
        </interface>
        <interface name="public">
            <inet-address value="{{ jboss_bind_address }}"/>
        </interface>
    </interfaces>

    <socket-binding-group name="standard-sockets"
                          default-interface="public"
                          port-offset="0">
        <socket-binding name="http" port="{{ jboss_http_port }}"/>
        <socket-binding name="management-http"
                        interface="management"
                        port="{{ jboss_management_port }}"/>
    </socket-binding-group>
</server>
